.navbarhead{
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
}
.navbarhead ul li {
    display: inline-block;
    padding: 0 10px;
}

.navbarhead ul li a{
    text-decoration: none;
    color: #000;
}
.navbarhead ul li a:hover{
    color: chocolate;
}
.search{
    display: block;
}
.search {
    display: flex;
    padding: 15px;
}